body {

	min-width: 320px;

}

.nav-link {

	text-transform: uppercase;

}

footer {

	background-color: #343434;

}

footer h5 {

	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid;
	color: #c8c8c8;
	margin-top: 20px;

}

footer li {

	color: #c8c8c8;

}

footer a {

	text-decoration: none;
	transition: all .3s;
	color: #c8c8c8;
	display: block;

}

footer a:hover {

	color: #fff;
	text-decoration: underline;
	
}

.fixed-height {

	height: 170px;
	overflow: hidden;
	
  }

